*{
    text-align: center;
    margin: 0;
    padding: 0;
  }
 
  h1{
    margin:10%;
    font-size: 200px;
  }
        body {
 
        /* Set the height of the div to
            the entire screen */
        height: 100vh;
 
        /* linear-gradient syntax */
        background-image: linear-gradient(#43589b, black);
    }