    *{
        font-family: 'Roboto', sans-serif;
        }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #272727;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: azure;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #333533;
    }

    .active {
    background-image: linear-gradient(to right, #15ff00 , green);
    border-radius: 0% 15% 15% 0%;
    color:black;
    }
    .prev{
      color:black;
      background-color:#15ff00;
    }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: #1d1d1d; 
            border-radius: 5px;
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 5px;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #555; 
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }
