*{
    font-family: 'ABeeZee', sans-serif;
    --Text-Dark: #312D29ff;
    --Text-Light: #CBCEBDff;
    --Primary: #35159C;
    --Highlight: #CB731B;
    --Highlight2: #E3CE14;
    --Secondary: #B84141;
}

html{
    background-color: var(--Primary);
}

h1,h2,h3,h4,h5,h6,p,span{
    color: var(--Text-Light);
}

a {
    color: var(--Highlight2);
}

button{
    background: var(--Secondary);
    color: var(--Highlight2);
    padding: 10%;
    border-radius: 0.3em;
    border: none;
}

button:hover{
    background: var(--Highlight2);
    padding: 12%;
    color: var(--Highlight1);
}