* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #601483;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}


a:link {color: rgb(255, 43, 6);}  
a:visited {color: #eccb0c}  
a:hover {color: #0cfc0c}  
a:active {color: #fcf8c0}  
